// Import your custom theme (this includes Material styles)
@use './custom-theme';

// Then include Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
